.Register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:  linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.5)
        ), url(/src/components/pic/login.jpg);
    background-size: cover;
}

/* https://www.pexels.com/photo/closeup-photo-of-silver-iphone-7-plus-with-earpods-1038628 */

/* https://www.pexels.com/photo/black-and-gray-dell-laptop-beside-white-ceramic-mug-flower-1989304 */

/* https://www.pexels.com/photo/white-blank-notebook-733857 */

/* https://www.pexels.com/photo/blue-headphone-1037992 */

.RegisterTitle{
    font-size: 50px;
}

.RegisterForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
} 

.RegisterForm > label{
    margin: 10px 0;
}

.RegisterInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.RegisterButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 0;
}

.RegisterLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

